#main-canvas {
  width: 100%;
  height: 600px;

}
svg g {
  transition: scale 0.4s linear, transform 0.4s linear, matrix 0.4s linear;
}
svg path{
  vector-effect: non-scaling-stroke;
}
.show {
  visibility: visible;
}
.hide {
  visibility: hidden;
}
.checkbox {
  width: 120px;
}
.checkbox:hover{
  cursor: pointer;
} 
.checkbox .checkmark {
  stroke-width: 2;
  stroke: white;
}

.checkbox .checkmark__circle {
  stroke: #7ac142;
}
.checkbox.checked .checkmark__circle{
  fill: #7ac142;
}


#y-axi .y-axi-text{
  fill: #55575e;
}
#y-axi .y-axi-line {
  stroke: #eee;
}